/* Universal Styles */
:root {
  --font-color: #4B5362;
  --gray-color: #EDEDEF;
  --logo-font: 'Bad Script', cursive;
  --header-font: 'Raleway', sans-serif;
}

body {
  color: var(--font-color);
}

/* Nav */
.nav-wrapper {
  background-color: var(--gray-color);
}

.nav-wrapper a {
  color: var(--font-color);
}

.brand-logo {
  font-family: var(--logo-font);
}

/* Home */
header.home {
  font-family: var(--header-font);
  font-weight: 700;
  min-height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.home-contacts {
  margin-top: 50px;
}

.home-contacts i {
  font-size: 40px;
  margin: 10px 10px;
}

#arrow {
  display: flex;
  justify-content: center;
}