/* Universal Styles */
:root {
  --font-color: #4B5362;
  --gray-color: #EDEDEF;
  --teal-color: #307473;
  --purple-color: #7A82AB;
  --logo-font: 'Bad Script', cursive;
  --header-font: 'Lato', sans-serif;
}

body {
  color: var(--font-color);
}

section {
  min-height: 70vh;
  width: 100%;
  margin: 30px 0;
}

section h4 {
  text-align: center;
  font-family: var(--header-font);
  color: var(--teal-color);
  margin-bottom: 20px;
}

hr {
  width: 100px;
  height: 3px;
  background: var(--teal-color);
  border: 0;
  margin-bottom: 30px;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Nav */
.nav-wrapper {
  background-color: var(--teal-color);
}

.nav-wrapper a {
  color: #FFF;
}

#brand {
  font-family: var(--logo-font);
  font-size: 2.7em;
  font-weight: 600;
  color: #FFF;
  margin-left: 40px;
}

/* Home */
#home {
  background: url(./img/deceptionpass.jpg);
  background-size: cover;
  background-position-y: 50%;
  background-repeat: no-repeat;
  margin-top: 0;
  padding-bottom: 30px;
}

header.home-header {
  font-family: var(--header-font);
  color: var(--teal-color);
  min-height: 80vh;
  display: flex;
  flex-direction: column;
}

.home-header h4 {
  margin-bottom: 40px;
  text-align: left;
}

.home-contacts i {
  font-size: 40px;
  margin: 10px 20px 10px 0;
}

#arrow {
  display: flex;
  justify-content: center;
  color: #FFF;
  font-size: 3em;
  margin-bottom: 70px;
}

#arrow:hover, 
.home-contacts i:hover {
  color: var(--purple-color);
}

/* About */
#headshot {
  width: 80%;
  margin-left: 30px;
}

#about .container,
#skills .container {
  background: var(--gray-color);
  box-shadow: 8px 8px rgba(0,0,0,0.15);
  padding: 20px;
}

#about p {
  line-height: 1.8em;
}

/* Skills */
#skills {
  background: var(--purple-color);
  padding: 30px 0;
}

#skills td,
#skills th {
  padding: 5px;
}

tr {
  border: none;
}
/* Projects */
.card {
  min-height: 570px;
}

.card .card-action {
  border-top: 0;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating){
  color: var(--purple-color);
  text-align: center;
}

.card-content h5 {
  color: var(--teal-color);
}

.card-content p {
  line-height: 1.7em;
}

#real-estate-project {
  border-bottom: 1px solid var(--gray-color);
}

/* Footer */
#contact hr {
  background: #FFF;
}

.page-footer {
  background: var(--teal-color);
  color: #FFF;
  min-height: 40vh;
}

.page-footer span{
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-footer h4 {
  font-family: var(--header-font);
  text-align: center;
}

.footer-contacts a {
  font-size: 1.4em;
  margin: 16px;
}

.footer-contacts i {
  font-size: 1.4em;
  margin: 10px;
}

@media only screen and (max-width: 800px) {
  .page-footer span {
    flex-direction: column;
  }
}

@media only screen and (max-width: 800px) {
  #headshot {
    display: none;
  }
}