/* Universal Styles */
:root {
  --font-color: #4B5362;
  --gray-color: #EDEDEF;
  --logo-font: 'Bad Script', cursive;
  /* --header-font: 'Raleway', sans-serif; */
  --body-font: 'Yantramanav', sans-serif;
}

body {
  font-family: var(--body-font);
  color: var(--font-color);
}

/* Nav */
.nav-wrapper {
  background-color: var(--gray-color);
}

.nav-wrapper a {
  color: var(--font-color);
}

.brand-logo {
  font-family: var(--logo-font);
  /* margin-left: 24px; */
}